@import url("https://fonts.googleapis.com/css?family=Roboto&effect=neon|outline|emboss|shadow-multiple|fire-animation");

/* barra de navegacion */
body{margin: 0px;
font-family: "roboto";}
.barra {
  background-color: red;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0px;
}
.barra img{
  height: 6%;
  width: 6%;
}

.barra a {
  font-size: 20px;
  float: center;
  padding:30px;
  text-decoration: none;
  color: white;
}

.barra a:hover {
  background-color:black;
  color:yellow;
  transition: 1s;
}
#F1{
margin: 10px;
}

/*Inicio*/

.Noticias {
  display: flex;
}

.NotPrincipal {
  flex: 2;
  padding: 1rem;
  margin-left: 300px;
}

aside {
  width: 400px;
  background-color: #f2f2f2;
  padding: 1rem;
  margin-right: 300px;
}

.foto_portada{
display: block;
margin: auto;
width:200px;
height:70px;
}
.audio{
display: block;
margin: auto;
margin-top: 50px;
}
.imagennot{
display: flex;
margin: auto;
width: 300px;
height: 300px;}

/*Pilotos*/

#f1pilotos{background-color: black;}

.Equipo{
  font-size:40px;
  font-weight:bold;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}


.Pilotos{display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  gap:10px;
  max-width:50%;
  margin:auto;
  text-align:center;
  flex-basis:100%;
  font-size: 25px ;
  font-weight:bold;}

.hover{transition: 0.5s ease;
width: 300px;
height: 300px;}

.hover:hover{transform:scale(1.1);}
.video{display: flex;
  margin: auto;
margin-top: 30px;}

/*Equipos*/

#f1equipos{background-color: white;}
.tabla{background-color: wheat;
border-collapse: collapse;
text-align: center;
margin: auto;
}
.coches{display: block;
width:800px;
height:575px;
margin-top: 20px;
margin:auto;}
#tabla1L{ color: black;}
.claro{color: white;}

/*Clasificacion*/

.Titulo_Campeonato_Pilotos{
  font-size:40px;
  font-weight:bold;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}


.Clasificacion_Pilotos {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
max-width:75%;
row-gap: 10px;
margin:auto;
font-size: 20px;
text-align:center;
flex-basis:100%;
border: 4px solid black;
background-color: lightyellow;
}

.Titulo_Campeonato_Constructores{
  font-size:40px;
  font-weight:bold;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
.Clasificacion_Constructores{
display:grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
max-width:75%;
row-gap: 10px;
margin:auto;
font-size: 20px;
text-align:center;
flex-basis:100%;
border: 4px solid black;
background-color: lightyellow;
margin-bottom: 60px;
}



/*Ajustes especiales*/
.separador{margin-top: 70px;}
.Titulo{text-align: center;}

.Red_BullC{ color:#000B8D; }
.MercedesC{ color:#C8CCCE; }
.FerrariC{color: #cc0000; }
.MclarenC{color:#FF8000;}
.Aston_MartinC{color:#00594F; }
.AlpineC{color:#0078C1; }
.WilliamsC{color:#00A3E0; }
.AlphatauriC{color:#00293F; }
.Alfa_RomeoC{color: #981E32;}
.HassC{color: #EFEFEF; }

.Red_BullF{ background-color:#000B8D; }
.MercedesF{ background-color:#C8CCCE; }
.FerrariF{background-color: #cc0000; }
.MclarenF{background-color:#FF8000;}
.Aston_MartinF{background-color:#00594F; }
.AlpineF{background-color:#0078C1; }
.WilliamsF{background-color:#00A3E0; }
.AlphatauriF{background-color:#00293F; }
.Alfa_RomeoF{background-color: #981E32;}
.HassF{background-color: #EFEFEF; }

.Color2{background-color: rgb(184, 184, 184);}
.Color1{background-color: black; color: white;}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 900px) { 
nav {display: none;}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 1400px) { 
.imagennot{display: none;}
.Pilotos{display:grid;
grid-template-columns: 1fr;}
.video{display: none;}
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1700px) { 
.imagenPrin{width: 100px;
width: 100px;}
.hover{width: 100px;height: 100px;}
}

